:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --contact-color: rgba(255, 255, 255, 0.6);
  --color-accent: #2196f3;
  --background-body: #e5e5e5;

  --background-team: #f5f4fa;
  --background-footer: #2f303a;
  --complementary-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-body);
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
}
/* контейнер шапки */

.container {
  width: 1200px;
  outline: 2px solid #2196f3;
  margin: auto;
}
.head-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.list,
.list-contacts,
.list-Benefits,
.list-choose,
.list-team,
.list-button,
.list-portfolio {
  padding: 0;
  margin: 0;
}

/*  логотип */
.logo {
  color: var(--secondary-text-color);
}

.logo-footer {
  color: var(--complementary-color);
  display: block;
  margin-bottom: 20px;
}

.logo,
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blu {
  color: var(--color-accent);
}

/* Навигация */
.list {
  display: flex;
  margin-left: 93px;
}

.list li:not(:last-child) {
  /* outline: 1px solid red; */
  margin-right: 50px;
}
.link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  margin-top: 21px;
  margin-bottom: 21px;
}
.link:focus,
.link:hover {
  color: var(--color-accent);
}

/* контакты */
.list-contacts {
  display: flex;
  margin-left: auto;
}

.list-contacts .item + .item {
  margin-left: 50px;
}

.contacts {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
}

.contacts:focus,
.contacts:hover {
  color: var(--color-accent);
}
/* главный заголовок */
.hero {
  text-align: center;
  height: 600px;
}

.hero-title {
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--complementary-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* кнопка */

.button {
  color: var(--complementary-color);
  background-color: var(--color-accent);
  border: 1px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: 'Roboto', 'Raleway', sans-serif;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}

/* преимущество  заголовок*/
.Benefits {
  padding-top: 94px;
}
.list-Benefits {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.list-Benefits .item + .item {
  margin-left: 30px;
}
.list-Benefits .item {
  min-width: 270px;
}

.Benefits-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}
/* текст ниже заголовка */

.Benefits-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
/* что можно реализовать. наша команда заголовки  */
.list-choose {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}
.list-choose .item + .item {
  margin-left: 30px;
}

.choose {
  padding-top: 94px;
  padding-bottom: 94px;
}

.choose-title,
.team-main-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

/* наша команда */
.list-team {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}
.list-team .item + .item {
  margin-left: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 30px;
  text-align: center;
}

.team-text {
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.team {
  background-color: var(--background-team);
}

/* кнопки в портфолио */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.radio-buttons {
  color: var(--secondary-text-color);
  background-color: var(--background-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;

  padding: 6px 22px;
}

.radio-buttons:hover,
.radio-buttons:focus {
  color: var(--complementary-color);
  background-color: var(--color-accent);
}
.list-button .item + .item {
  margin-left: 8px;
}

/*  заголовки в портфолио */

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.list-portfolio .item {
  margin-right: 30px;
}
.list-portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
/*  текст в портволио */
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
/* футер */

.location {
  color: var(--complementary-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.location .contacts {
  color: var(--contact-color);
  display: block;
  margin-top: 9px;
}
.container.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer,
.hero {
  background-color: var(--background-footer);
}

.list,
.list-contacts,
.list-Benefits,
.list-choose,
.list-team,
.list-button,
.list-portfolio {
  list-style: none;
}
